.wp{
    background-image: url('./images.jpg');
}



/* .centre{
    background-color: black;
    color: white;
    margin-top: 30%;
}

.other{
    background-color: gray;
    color: white;
    margin-left: 90%;
    margin-top: 100%;
}
main{
    margin-left: 90%;
    margin-top: 10%;
}

.pic{ 
    background: 33%;
}

section{ 
    background: url ('images.jpg')
} */
